.vkCard {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
  width: 520px;
  height: 730px;
  padding-left: 20px;
}

.vkHeader {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}
.vkHeader .beka {
  display: flex;
  width: 40%;
}

.vkAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.vkUsername {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.vkPostTime {
  color: #777777;
  font-size: 14px;
  margin: 0;
}

.vkPostContent {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  width: 510px;
  margin-left: 5px;
}

.vkPostImage {
  border-radius: 8px;
  margin-bottom: 10px;
  width: 510px;
  height: 510px;
}

.vkPostFooter {
  display: flex;
  align-items: center;
}

.vkLikeButton,
.vkCommentButton,
.vkShareButton,
.vkSubmitButton {
  border: none;
  color: #777777;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
  width: 64px;
  height: 32px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02));
  transition: 100ms ease-in-out;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vkLikeButton:hover,
.vkCommentButton:hover,
.vkShareButton:hover {
  color: #0066cc;
}

.vkPostStats {
  display: flex;
  align-items: center;
}

.vkPostStats p {
  margin: 0;
  color: #777777;
  font-size: 14px;
  margin-right: 15px;
}

.icons {
  font-size: 26px;
}

.vkCommentForm {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.vkCommentInput {
  /* flex: 1; */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  margin-right: 10px;
}

.vkSubmitButton {
  color: #777777;
}

.three svg {
  display: flex;
  justify-content: flex-end;
  margin-left: 0;
  cursor: pointer;
}

.deledit {
  background-color: #985858;
}

/* ! little modal */
.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 115%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9;
}

.modal p {
  cursor: pointer;
  padding: 10px 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
}

.modal p:last-child {
  border-bottom: none;
}

.owerflow {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 6;
}
