.registor {
  display: flex;
  flex-direction: column;
}
.registor form {
  width: 20vw;
  height: 70vh;
  margin: 45px auto;
  background-color: #ffff;
  border-radius: 12px;
  padding: 28px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.registor input {
  width: 95%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px auto;
}
.registor span{
    padding-bottom: 25px;
    color: rgba(0, 0, 0, 0.608);
}
.registor img {
  width: 48px;
  padding: 10% 40% 0 40%;
}
.registor p {
  font-size: 13px;
  text-align: center;
  width: 20vw;
  color: rgba(0, 0, 0, 0.408);
  font-weight: 400;
}
.registor button{
    width: 101%;
    margin: auto;
    
}
.button_back {
  position: absolute;
  top: 95px;
  left: 50px;
  background: none;
  border: none;
  cursor: pointer;
}
